Client, Server {
    border: solid $accent;
}

#input-buffer {
    border: solid $primary;
    width: 100%;
    height: 3;
}

#log {
    border: solid $primary;
}

#output:focus {
    border: tall $secondary;
}